@import '../../../styles/GlobalStyles.scss';

.navigation {
    border-left: 10px solid $clr-black;
    transition: 0.5s;
    overflow: hidden;

    ul {
        li {
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;

            &:hover,
            &.hovered {
                background-color: $clr-white;
            }

            &:nth-child(1) {
                margin-bottom: 40px;
                pointer-events: none;
            }

            a {
                .icon {
                    min-width: 60px;

                    ion-icon {
                        font-size: 2.8rem;
                    }
                }

                .title {
                    white-space: nowrap;
                }
            }

            &:hover a,
            &.hovered a {
                color: $clr-black;
            }

            &:hover a::before,
            &.hovered a::before {
                content: '';
                position: absolute;
                right: 0;
                top: -50px;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border-radius: 50%;
                box-shadow: 35px 35px 0 10px $clr-white;
                pointer-events: none;
            }

            &:hover a::after,
            &.hovered a::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -50px;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border-radius: 50%;
                box-shadow: 35px -35px 0 10px $clr-white;
                pointer-events: none;
            }
        }
    }
}

.navigation.active {
    width: 80px;
}
