@import 'variables';

.error {
    min-height: 100vh;
}

.error-404 {
    padding: 30px;

    h1 {
        line-height: 18rem;

        @media (max-width: 991px) {
            font-size: 12rem;
            line-height: 12rem;
        }

        @media (max-width: 768px) {
            font-size: 10rem;
            line-height: 10rem;
        }

        @media (max-width: 480px) {
            font-size: 8rem;
            line-height: 8rem;
        }
    }

    .btn {
        padding: 0.8rem 3rem;
        transition: all 0.3s ease;

        &:hover {
            background: $clr-gray;
            border: 1px solid $clr-gray-9a;
            color: $clr-gray-9a;
        }
    }
    .credits {
        @media (max-width: 768px) {
            font-size: 1.2rem;
        }

        @media (max-width: 576px) {
            font-size: 1rem;
        }
    }
}

.text-danger {
    color: #dc3545;
}
