@import 'variables';

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;

    .modal-content {
        border-radius: 8px;
        width: 500px;
        max-width: 90%;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        .modal-header {
            margin-bottom: 15px;
            border-bottom: 1px solid $clr-gray-9a;

            .close-button {
                padding: 0.3rem 0.6rem;
                cursor: pointer;
                color: $clr-danger;

                &:hover {
                    color: $clr-black;
                    background-color: $clr-danger;
                }
            }
        }

        .modal-footer {
            border-top: 1px solid $clr-gray-9a;
        }
    }
}
