@import 'normalize.css';
@import 'variables';
@import 'fonts';
@import 'status';
@import 'btn';
@import 'list';
@import 'utilities';
@import 'section';
@import 'breadcrumb';
@import 'title';
@import 'error';
@import 'image';

// global styles & resets
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 10px;
}
body {
    font-family: $fnt-base;
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    color: $clr-black;
    overflow-y: overlay;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}
button {
    cursor: pointer;
    outline: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.4rem;
}
input,
textarea,
select {
    outline: none;
    background: none;
    border: none;
    resize: none;
    font-family: inherit;
    font-size: 1.4rem;
}

input[type='text'],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid $clr-black-2;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type='submit'] {
        width: 100%;
        margin-top: 0;
    }
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    border: 0;
    border-radius: 0.25rem;
}
