@import '../../../styles/GlobalStyles.scss';

.cardBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    .card {
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);

        &:hover {
            background: $clr-black-1;

            .numbers,
            .cardName,
            .iconBx {
                color: $clr-white;
            }
        }
    }
}
