@import '../../../styles/GlobalStyles.scss';

.details {
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.recentOrders {
    min-height: 500px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    .cardHeader {
        display: flex;
        align-items: flex-start;

        .btn {
            padding: 5px 10px;
            border-radius: 6px;
        }
    }

    table {
        border-collapse: collapse;

        tbody {
            tr {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background: $clr-black-2;
                    color: $clr-white;
                }

                td {
                    padding: 10px;

                    &:last-child {
                        text-align: end;
                    }

                    &:nth-child(2) {
                        text-align: end;
                    }

                    &:nth-child(3) {
                        text-align: center;
                    }
                }
            }
        }
    }
}
