@import '../../../styles/GlobalStyles.scss';
.menu-bar {
    width: 991px;

    ul {
        li {
            position: relative;
            margin: 0 10px;
            min-width: 90px;

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -15px;
                width: 1px;
                height: 50%;
                background-color: $clr-outline-default-light;
                transform: translateY(-50%);
            }

            a {
                &:hover {
                    font-size: 1.3rem;
                    text-decoration: none;
                }
            }

            &.more-subcategory {
                cursor: pointer;
                font-weight: 600;

                &:hover .tooltip {
                    visibility: visible;
                    opacity: 1;
                }

                .tooltip {
                    visibility: hidden;
                    border-radius: 5px;
                    padding: 5px;
                    bottom: 125%;
                    margin-left: -60px;
                    opacity: 0;
                    transition: opacity 0.3s;
                    white-space: nowrap;
                }
            }
        }
    }
}
