@import '../../../styles/GlobalStyles.scss';
.route_one {
    height: 560px;
    background-color: #dce6ff;

    &__content {
        max-width: 50%;
        .label {
            margin-bottom: 16px;

            &::after {
                content: '';
                position: absolute;
                margin-left: 8px;
                top: 80%;
                transform: translateY(-20%);
                width: 60px;
                height: 1px;
                border-top: 1px solid $clr-black;
            }
        }

        .description {
            width: 280px;
            margin-top: 24px;
            margin-bottom: 64px;
        }
    }

    &__image {
        img {
            width: 412px;
            height: 474px;
        }
    }
}
