@import '../../../styles/GlobalStyles.scss';
.footer {
    height: 523px;
    background-color: $clr-black;
    padding: 79px 130px;

    .footer-logo {
        h2 {
            width: 120px;
            line-height: 50px;
            font-family: $fnt-logo;
        }
    }
    .footer-container {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;

        .footer-section {
            min-width: 200px;

            h3 {
                display: inline-block;
                border-bottom: 1px solid $clr-white;
                padding-bottom: 0.3rem;
                margin-bottom: 24px;
            }

            ul {
                li {
                    margin-bottom: 0.4rem;
                }
            }

            p {
                width: 200px;
            }

            .about-section {
                display: flex;
                justify-content: space-between;
            }

            .payment-methods {
                height: 20px;
                li {
                    display: block;
                    margin-bottom: 1.2rem;
                }
            }

            .social-icons {
                li {
                    display: inline-block;
                }
            }

            .social-icons li a {
                display: flex;
                align-items: start;
                transition: color 0.3s ease;
                padding: 0;

                &.facebook:hover {
                    color: #3b5998;
                }

                &.instagram:hover {
                    color: #e4405f;
                }

                &.github:hover {
                    color: #333;
                }

                &.twitter:hover {
                    color: #1da1f2;
                }

                &.snapchat:hover {
                    color: #fffc00;
                }

                &.linkedin:hover {
                    color: #0077b5;
                }
            }
        }
    }

    .footer-bottom {
        height: 2rem;
        line-height: 2rem;
        margin-top: 9rem;
        border-top: 1px solid $clr-gray-9a;
    }
}
