@import '../../../styles/GlobalStyles.scss';

.header {
    height: 202px;

    .info-header {
        height: 32px;

        .phone,
        .address {
            display: flex;
            align-items: center;
        }

        .address {
            margin-left: 3rem;
        }

        .right-info .icon {
            margin-left: 2px;
            margin-right: 2px;
        }

        .right-info {
            margin-left: 300px;
        }
    }

    .info-navigation {
        height: 12rem;

        .logo-text {
            font-family: $fnt-logo;
            width: 12rem;
            height: 5rem;
            line-height: 5rem;
        }

        nav {
            ul {
                width: 17rem;
                height: 12rem;
                background-color: $clr-white-fc;
                margin-right: 62px;

                li {
                    position: relative;
                    height: 2rem;

                    a {
                        color: inherit;
                    }

                    &.active {
                        font-weight: normal;

                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            width: 100%;
                            height: 2px;
                            background-color: $clr-black;
                        }
                    }
                }
            }
        }

        .search-bar {
            width: 380px;
            height: 38px;
            margin-right: 70px;

            button {
                width: 100px;

                span {
                    margin-left: 0.8rem;
                }
            }
        }

        .search-bar input::placeholder {
            color: $clr-gray-9a;
            font-size: 1.4rem;
        }

        .account {
            width: 110px;
            height: 35px;

            .account-text {
                .up {
                    width: 80px;
                    a {
                        color: $clr-black;
                    }
                }

                .down {
                    cursor: pointer;
                    p {
                        margin-right: 6px;
                    }

                    .icon {
                        transition: font-size 0.3s ease-in-out;

                        &:hover {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }

        .wishlist {
            width: 90px;
        }

        .cart {
            width: 72px;
        }
    }
}
