@import '../../styles/GlobalStyles.scss';

.go-to-top {
    right: 50px;
    bottom: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: background-color 0.3s;
}

.go-to-top:hover {
    background-color: $clr-white;
    color: $clr-black;
}

.go-to-top svg {
    width: 20px;
    height: 20px;
}
