img {
    display: block;
}
.img-cover {
    object-fit: cover;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.image-preview {
    margin-top: 10px;
}
.image-preview img {
    max-width: 100%;
    height: auto;
}
