@import 'variables';

//status and color
.status {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: $clr-white;

    &-delivered {
        background: $clr-delivered;
    }

    &-pending {
        background: $clr-pending;
    }

    &-return {
        background: $clr-return;
    }

    &-inProgress {
        background: $clr-inProgress;
    }
}
