/* custom utility classes */
.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

/* position */
.position {
    &-relative {
        position: relative;
    }
    &-absolute {
        position: absolute;
    }
    &-fixed {
        position: fixed;
    }
    &-sticky {
        position: sticky;
    }
    &-static {
        position: static;
    }
}

/* top, right, bottom, left */
.top {
    &-0 {
        top: 0;
    }
    &-50 {
        top: 50%;
    }
    &-100 {
        top: 100%;
    }
}
.bottom {
    &-0 {
        bottom: 0;
    }
    &-50 {
        bottom: 50%;
    }
    &-100 {
        bottom: 100%;
    }
}
.left {
    &-0 {
        left: 0;
    }
    &-50 {
        left: 50%;
    }
    &-100 {
        left: 100%;
    }
}
.right {
    &-0 {
        right: 0;
    }
    &-50 {
        right: 50%;
    }
    &-100 {
        right: 100%;
    }
}

/* z-index */
.z {
    &-0 {
        z-index: 0;
    }
    &-1 {
        z-index: 1;
    }
    &-2 {
        z-index: 2;
    }
    &-3 {
        z-index: 3;
    }
    &-5 {
        z-index: 5;
    }
    &-10 {
        z-index: 10;
    }
    &-100 {
        z-index: 100;
    }
    &-999 {
        z-index: 999;
    }
    &-1000 {
        z-index: 1000;
    }
}

/* flexbox and grid */
.flex {
    display: flex;
    align-items: center;

    &-column {
        flex-direction: column;
    }
    &-center {
        justify-content: center;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
    &-start {
        justify-content: flex-start;
    }
    &-end {
        justify-content: flex-end;
    }
}

.grid {
    display: grid;
}

/* height and width */
.mh-100 {
    min-height: 100vh;
}
.mw-144 {
    width: 144rem;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}
.h-38 {
    height: 3.8rem;
}
.w-15 {
    width: 15rem;
}
.h-3 {
    height: 3rem;
}
.w-3 {
    width: 3rem;
}
.h-4 {
    height: 4rem;
}
.w-4 {
    width: 4rem;
}
.h-45 {
    height: 4.5rem;
}
.w-45 {
    width: 4.5rem;
}
.h-5 {
    height: 5rem;
}
.w-5 {
    width: 5rem;
}
.h-6 {
    height: 6rem;
}
.w-6 {
    width: 6rem;
}
.w-10 {
    width: 10rem;
}
.h-10 {
    height: 10rem;
}
.w-12 {
    width: 12rem;
}
.h-12 {
    height: 12rem;
}
.w-17 {
    width: 17rem;
}
.wBtn-100 {
    width: calc(100% - 100px);
}
.w-30 {
    width: 30rem;
}
.h-2 {
    height: 2rem;
}
.h-34 {
    height: 3.4rem;
}
.h-36 {
    height: 3.6rem;
}

/* text align and transformation */
.text {
    &-center {
        text-align: center;
    }
    &-start {
        text-align: left;
    }
    &-end {
        text-align: right;
    }
    &-justify {
        text-align: justify;
    }
    &-uppercase {
        text-transform: uppercase;
    }
    &-capitalize {
        text-transform: capitalize;
    }
    &-white {
        color: $clr-white;
    }
    &-black {
        color: $clr-black;
    }
    &-black-1 {
        color: $clr-black-1;
    }
    &-black-2 {
        color: $clr-black-2;
    }
    &-white {
        color: $clr-white;
    }
    &-gray-f1 {
        color: $clr-gray-f1;
    }
    &-gray-9a {
        color: $clr-gray-9a;
    }
    &-bg {
        color: $clr-bg;
    }
    &-primary-light {
        color: $clr-primary-light;
    }
    &-auth-primary {
        color: $clr-auth-primary;
    }
}

.bg {
    &-black {
        background-color: $clr-black;
    }
    &-black-1 {
        background-color: $clr-black-1;
    }
    &-white {
        background-color: $clr-white;
    }
    &-white-fc {
        background-color: $clr-white-fc;
    }
    &-gray-f1 {
        background-color: $clr-gray-f1;
    }
    &-gray-9a {
        background-color: $clr-gray-9a;
    }
    &-bg {
        background-color: $clr-bg;
    }
    &-primary {
        background-color: $clr-primary;
    }
    &-auth-primary {
        background-color: $clr-auth-primary;
    }
}

/* font weights */
.fw {
    &-1 {
        font-weight: 100;
    }
    &-2 {
        font-weight: 200;
    }
    &-3 {
        font-weight: 300;
    }
    &-4 {
        font-weight: 400;
    }
    &-5 {
        font-weight: 500;
    }
    &-6 {
        font-weight: 600;
    }
    &-7 {
        font-weight: 700;
    }
    &-8 {
        font-weight: 800;
    }
    &-9 {
        font-weight: 900;
    }
}

/* common font sizes */
.fs {
    &-8 {
        font-size: 0.8rem;
    }
    &-10 {
        font-size: 1rem;
    }
    &-12 {
        font-size: 1.2rem;
    }
    &-13 {
        font-size: 1.3rem;
    }
    &-14 {
        font-size: 1.4rem;
    }
    &-15 {
        font-size: 1.5rem;
    }
    &-16 {
        font-size: 1.6rem;
    }
    &-17 {
        font-size: 1.7rem;
    }
    &-18 {
        font-size: 1.8rem;
    }
    &-19 {
        font-size: 1.9rem;
    }
    &-20 {
        font-size: 2rem;
    }
    &-21 {
        font-size: 2.1rem;
    }
    &-22 {
        font-size: 2.2rem;
    }
    &-23 {
        font-size: 2.3rem;
    }
    &-24 {
        font-size: 2.4rem;
    }
    &-25 {
        font-size: 2.5rem;
    }
    &-26 {
        font-size: 2.6rem;
    }
    &-30 {
        font-size: 3rem;
    }
    &-35 {
        font-size: 3.5rem;
    }
    &-40 {
        font-size: 4rem;
    }
    &-43 {
        font-size: 4.3rem;
    }
    &-48 {
        font-size: 4.8rem;
    }
    &-52 {
        font-size: 5.2rem;
    }
    &-56 {
        font-size: 5.6rem;
    }
    &-58 {
        font-size: 5.8rem;
    }
    &-110 {
        font-size: 11rem;
    }
    &-180 {
        font-size: 18rem;
    }
}

/* letter spacing */
.ls-1 {
    letter-spacing: 0.1rem;
}
.ls-2 {
    letter-spacing: 0.2rem;
}
/* Line height*/
.lh-15 {
    line-height: 1.5rem;
}
.lh-18 {
    line-height: 1.8rem;
}
.lh-3 {
    line-height: 3rem;
}
.lh-36 {
    line-height: 3.6rem;
}
.lh-50 {
    line-height: 5rem;
}
.lh-55 {
    line-height: 5.5rem;
}
.lh-6 {
    line-height: 6rem;
}
.lh-65 {
    line-height: 6.5rem;
}
.lh-72 {
    line-height: 7.25rem;
}
.lh-75 {
    line-height: 7.5rem;
}
.lh-125 {
    line-height: 12.5rem;
}
.lh-145 {
    line-height: 14.5rem;
}
/* margin and padding */
.mx-auto {
    margin-right: auto;
    margin-left: auto;
}
.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-180 {
    margin-top: 18rem;
    margin-bottom: 18rem;
}

.my-120 {
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.mx-130 {
    margin-left: 13rem;
    margin-right: 13rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-8 {
    margin-top: 0.8rem;
}
.mt-16 {
    margin-top: 1.6rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-24 {
    margin-top: 2.4rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-5 {
    margin-top: 0.5rem;
}
.mt-56 {
    margin-top: 5.6rem;
}
.mt-88 {
    margin-top: 8.8rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-10 {
    margin-top: 10rem;
}
.mt-12 {
    margin-top: 1.2rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-10 {
    margin-left: 10rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mr-2 {
    margin-right: 2rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.ml-2 {
    margin-left: 2rem;
}

.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}

.pt-1 {
    padding-top: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-13 {
    padding-left: 13rem;
    padding-right: 13rem;
}
.px-15 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.px-2 {
    padding-right: 2rem;
    padding-left: 2rem;
}

.px-10 {
    padding-left: 10rem;
    padding-right: 10rem;
}
