// variables color
$clr-black: #1a1a1a;
$clr-black-1: #222;
$clr-black-2: #999;

$clr-white: #ffffff;
$clr-white-fc: #fcfcfd;
$clr-bg: #fbfbfb;

$clr-gray: #f5f5f5;
$clr-gray-f1: #f1f1f1;
$clr-gray-9a: #9a9a9a;

// color login
$clr-auth-primary: #76c9f3;
$clr-auth-secondary: #b5e4fc;
$clr-auth-hover: #d6f0ff;
$clr-auth-btn: #2de1ec;

// color primary
$clr-primary-light: #339af0;
$clr-primary: #007bff;
$clr-primary-dark: #0056b3;
$clr-primary-deep: #004085;

// color info
$clr-info-light: #1ec4d7;
$clr-info: #17a2b8;
$clr-info-dark: #117a8b;
$clr-info-deep: #0f6b77;

// color warning
$clr-warning-light: #ffd54f;
$clr-warning: #ffc107;
$clr-warning-dark: #e0a800;
$clr-warning-deep: #d39e00;

// color danger
$clr-danger-light: #f5726f;
$clr-danger: #dc3545;
$clr-danger-dark: #c82333;
$clr-danger-deep: #bd2130;

// color default
$clr-outline-default: #6c757d;
$clr-outline-default-light: #e2e6ea;
$clr-outline-default-dark: #5a6268;
$clr-outline-default-deep: #343a40;

// color success
$clr-success: #28a745;
$clr-success-light: #d4edda;
$clr-success-dark: #218838;
$clr-success-deep: #1e7e34;

// color status
$clr-delivered: #8de02c;
$clr-pending: #f9ca3f;
$clr-return: #f00;
$clr-inProgress: #1795ce;

// variables font-family
$fnt-base: 'Lexend', sans-serif;
$fnt-logo: 'Germania One', system-ui;
$fnt-admin: 'Ubuntu', sans-serif;
