@import 'normalize.css';
@import 'variables';
@import 'fonts';
@import 'status';
@import 'list';
@import 'utilities';
@import 'breadcrumb';
@import 'title';
@import 'error';
@import 'image';

// global styles & resets
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 10px;
}
body {
    font-family: $fnt-base;
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    color: $clr-black;
    overflow-y: overlay;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: capitalize;
}
button {
    cursor: pointer;
    outline: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.4rem;
    border-radius: 5px;
}
input,
textarea,
select {
    outline: none;
    background: none;
    resize: none;
    font-family: inherit;
}

input[type='text'],
input[type='image'],
input[type='file'],
select,
textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border: 1px solid $clr-gray-9a;
    border-radius: 5px;
    resize: vertical;
}

input[type='file'] {
    border: none;
}

input[type='radio'] {
    margin-right: 10px;
    accent-color: $clr-black;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25 {
    float: left;
    width: 25%;
}

.col-30 {
    float: left;
    width: 30%;
}

.col-50 {
    float: left;
    width: 50%;
}

.col-70 {
    float: left;
    width: 70%;
}

.col-75 {
    float: left;
    width: 75%;
}

.row {
    margin-top: 10px;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-30,
    .col-50,
    .col-70,
    .col-75,
    input[type='submit'] {
        width: 100%;
        margin-top: 0;
    }
}
