@import '../../../styles/GlobalStyles.scss';

.recentCustomers {
    min-height: 500px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    .imgBx {
        border-radius: 50%;
        overflow: hidden;

        img {
            object-fit: cover;
        }
    }

    table {
        border-collapse: collapse;

        tr {
            &:hover {
                background: $clr-black;
                color: $clr-white;

                td {
                    h4 {
                        span {
                            color: $clr-white;
                        }
                    }
                }
            }
        }

        td {
            padding: 12px 10px;
        }
    }
}
