@import '../../../styles/GlobalStyles.scss';

@mixin banner-background($image, $color) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) -5.86%, rgba(0, 0, 0, 0) 119.62%), url('#{$image}');
    background-color: $color;
}

.banner_section {
    margin: 180px 130px;
    width: 1180px;
    height: 856px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    &__section {
        width: 580px;
        height: 418px;

        &.top-left {
            @include banner-background('../../../assets/images/hoodies_banner.png', #9bf0e1);
        }

        &.top-right {
            @include banner-background('../../../assets/images/santaCruz_banner.png', #aeebff);
        }

        &.bottom-left {
            @include banner-background('../../../assets/images/skateboard_banner.png', transparent);
            .play-button {
                border: 5px solid $clr-gray-f1;
                border-radius: 50%;
            }
        }
    }
}
