@import '../../styles/GlobalStyles.scss';

.about-table,
.payment-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .table-header,
    .table-row {
        display: contents;
    }

    .header-item,
    .table-cell {
        padding: 0.5rem;
        border-bottom: 2px solid #ddd;
    }
}

.social-table {
    width: 100%;
    border-collapse: collapse;
}

.social-table th,
.social-table td {
    padding: 0.5rem;
    border: 1px solid $clr-black-2;
}

.social-table th:nth-child(2) {
    width: 50%;
}

.social-table td:nth-child(1) {
    text-transform: capitalize;
}

.tog-btn {
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: $clr-black-2;
        color: $clr-white;
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }
}
