@import '../../../../styles/GlobalStyles.scss';

.season-container {
    height: 586px;

    .season-content {
        height: 436px;
        display: flex;

        .img-season {
            width: 580px;
            display: flex;
            justify-content: center;
            background-color: #bacbf9;
        }

        .season-slide {
            margin-left: 28px;
            display: flex;
            gap: 8px;

            .slide-line {
                width: 40px;
                height: 2px;
                cursor: pointer;

                &.active {
                    background-color: #b3c4d7;
                }

                &.inactive {
                    background-color: $clr-white;
                }
            }
        }

        .right-season {
            width: 532px;
            height: 361px;
            margin-top: 36px;
            margin-left: -148px;
            background-color: #ffb7b7;

            .season-img {
                height: 300px;
                display: flex;
                justify-content: center;
            }

            .season-text {
                padding: 21px 60px;
            }
        }

        .slide-btn {
            width: 60px;
            height: 155px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;

            .btn {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                cursor: pointer;
                border: 0.5px solid $clr-gray-9a;
                background-color: $clr-white;
                transition: transform 0.5s ease;

                .icon {
                    font-size: 2.4rem;
                    color: $clr-gray-9a;
                }

                &:first-child:hover,
                &:last-child:hover {
                    background-color: $clr-black-2;
                    box-shadow: 5px;
                    .icon {
                        color: $clr-white;
                    }
                }
                &:first-child:hover {
                    transform: translateX(-10px);
                }

                &:last-child:hover {
                    transform: translateX(10px);
                }
            }

            button ~ button {
                margin-top: 36px;
            }
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(-20px);
        opacity: 1;
    }
    to {
        transform: translateX(0);
        opacity: 0;
    }
}
