@import '../../styles/GlobalStyles.scss';

.loader-bg {
    .loader {
        height: 100vh;
    }

    .loading {
        border-radius: 50%;
        border: 6px solid turquoise;
        border-top: 6px solid transparent;
        animation: rotate 1.5s infinite linear;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}
