@import 'normalize.css';
@import 'variables';
@import 'fonts';
@import 'status';
@import 'btn';
@import 'list';
@import 'utilities';
@import 'section';
@import 'breadcrumb';
@import 'error';

// global styles & resets
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 10px;
}
body {
    font-family: $fnt-base;
    font-size: 1.6rem;
    line-height: 1.6;
    text-rendering: optimizeSpeed;
    color: $clr-black;
    overflow-y: overlay;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: unset;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
}
img {
    width: 100%;
    display: block;
}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
    outline: 0;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.4rem;
}
input,
textarea,
select {
    outline: none;
    background: none;
    border: none;
    resize: none;
    font-family: inherit;
    font-size: 1.4rem;
}
