@import '../../../styles/GlobalStyles.scss';

.main {
    width: calc(100% - 300px);
    left: 300px;
    transition: 0.5s;

    &.active {
        width: calc(100% - 80px);
        left: 80px;
    }
}

.topbar {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $clr-black;
}

.toggle {
    cursor: pointer;
}

.search {
    width: 400px;

    label {
        input {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            padding: 5px 30px;
            border: 1px solid $clr-black-2;
        }

        ion-icon {
            position: absolute;
            top: 20px;
            left: 10px;
            font-size: 2rem;
        }
    }
}

.user {
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
